/*CONTENEDOR PRINCIPAL*/
.sc-ifAKCX {
  margin: auto;
  background-color: aqua;
  min-height: 50vh !important;
  width: 53vw;
  padding: 2rem;
}

/*HIJO DE CONTENEDOR PRINCIPAL (LOS HERMANOS DE ESTE ELEMNTO SON LAS FLECHITAS)*/
.sc-EHOje {}

/*HIJO DE HIJO DE CONTENEDOR PRINCIPAL*/
.sc-bZQynM {
  background-color: white;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  min-width:100%;
  min-height: 1rem;
  border-radius: 1rem;
  padding: 0!important;
}

/*CONTENEDOR DE CARDS*/
.sc-gzVnrw {
  background-color: red;
  display: flex!important;
  min-width: 100%;
  height: 50vh !important;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 1rem;
}

/*CARDS*/
.sc-dnqmqq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #222;
  border-radius: 10px;
  width: 50%;
  margin: 0 .5rem;
}


img {
  margin: auto;
  border-radius: 10px;
  object-fit: contain;
}

h4 {
  text-align: center;
  text-transform: capitalize;
  color: #fff7;
}